[Unit]
Description=Ecs Exporter
Documentation=https://prometheus.io/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ecs_exporter
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
TimeoutStopSec=20s
RestartSec=10s
StartLimitInterval=30min
StartLimitBurst=3


[Install]
WantedBy=multi-user.target