[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/
After=network.target

[Service]
Type=simple
User=node_exporter
ExecStart=/usr/bin/node_exporter --web.listen-address=0.0.0.0:9100 --collector.netdev --collector.netdev.ignored-devices=^lo$ --collector.cpu --collector.meminfo --collector.filesystem
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
TimeoutStopSec=20s
RestartSec=10s
StartLimitInterval=30min
StartLimitBurst=3


[Install]
WantedBy=multi-user.target
